.home_top {
    .ivu-input-large {
        font-size: 14px !important;
    }

    .ivu-icon-ios-search:hover {
        cursor: pointer;
        color: rgb(58, 58, 58);
        font-weight: 600;
    }
    .ivu-btn-default{
        border: none;
    }
    .ivu-btn{
        padding: 0;
        height: 20px;
        background:black;
    }
    .ivu-btn:hover{
        background: black;
    }
    .ivu-icon-ios-cart{
        color: rgb(200,200,200);
    }
    .ivu-icon-ios-cart:hover{
        color: rgb(255, 255, 255);
    }
    .ivu-tooltip-light{
        left: 985px !important;
    }
}